<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="net40-client" developmentDependency="true" />
  <package id="log4net" version="2.0.3" targetFramework="net40-Client" />
  <package id="MvvmLightLibs" version="4.1.23.0" targetFramework="net40-Client" />
  <package id="PropertyChanged.Fody" version="1.52.1" targetFramework="net40-client" developmentDependency="true" />
  <package id="Rx-Main" version="1.0.10621" />
</packages>